# Ignore the virtual environment directory
config/
venvs/
.venv/
data/
output/
backup/
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore mypy and pytype cache
.mypy_cache/
.pytype/
.csv
